<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %d{YYYY-MM-DD HH:mm:ss.SSSS} [%thread] %logger[%method:%line] - %msg%n"/>

        </Console>
    </Appenders>

    <Loggers>
        <!--<Logger name="com.example" level="INFO"/>-->

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>